* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(Bilder/haunted_forest.jpg);
  background-size: 100% 100%;
}
img {
  width: 100%;
}

#ramme {
  border: 10px solid grey;
  background-color: grey;
  border-radius: 20px;
  opacity: 70%;
}


.container {
  max-width: 500px;
}

h1 {
  text-align: center;
  
}

.hover-tekst {
  font-size: 30px;
  transition: transform 4s ease;
}

.hover-tekst:hover {
  transform: scale(2);
}