* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(Bilder/haunted_forest.jpg);
  background-size: 100% 100%;
}
img {
  width: 100%;
}

#ramme {
  border: 10px solid grey;
  background-color: grey;
  border-radius: 20px;
  opacity: 70%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#body {
  width: 500px;
  height: 500px;
}
.container {
  max-width: 500px;
}


h1 {
  text-align: center;
  
}

.hover-tekst {
  font-size: 30px;
  transition: transform 4s ease;
}

.hover-tekst:hover {
  transform: scale(2);
}

.fortelling {
  color: white;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 10px;
  width: 30%;
  background-color: grey;
  opacity: 50%;
  display: none;
}
.teskt1 {
  display: none;
}

