* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(Bilder/haunted_forest.jpg);
  background-size: 100% 100%;
}
img {
  width: 100%;
}

#ramme {
  border: 10px solid grey;
  background-color: grey;
  border-radius: 20px;
  opacity: 70%;
}


.container {
  max-width: 500px;
}

h1 {
  text-align: center;
  
}

.hover-tekst {
  font-size: 30px;
  transition: transform 4s ease;
}

.hover-tekst:hover {
  transform: scale(2);
}



.navn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 300px;
  margin: auto;
}

.navn-container input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.navn-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navn-container button:hover {
  background-color: #0056b3;
}
